.btn-large{
    background-color: seagreen;
    color: white; 
    border: none; 
    padding: 15px 40px; 
    border-radius: 5px; 
    font-size: 1.1rem; 
}

.btn-large:hover{
    background-color: azure;
    color: seagreen;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.hero{
    background-image: url("assets/hero-bg.png");
    width: auto;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background-size: cover;
    background-position: center;
}

#access-open{
    background-color: white;
    color: seagreen;
    padding: 5px;
    border-radius: 15px;
    max-width: 250px;
    margin: 0 auto; 
    text-align: center;
}
#access-open:hover{
    background: none;
    color : white;
    border: 1px solid seagreen;
}
#head1{
    color: seagreen;
    font-size: larger;
}
#head2{
    font-size: larger;
}
.head p{
    width: 50%;
}



.btn-text{
    background: none; 
    color: white; 
    margin-left: 20px; 
    padding: 15px 40px; 
    font-size: 1.1rem; 
    border-radius: 5px;
    border: 1px solid whitesmoke;
}

.btn-text:hover{
    color: yellow;
    border: 1px dotted yellowgreen;
}

.problem-section{
    padding: 5rem 5%; 
    text-align: center;  
}

.problem-section h2{
    font-size:xx-large
}
.grid{
    display: flex;  
    gap: 30px; 
    margin-top: 3rem;
}

.card{
    background: white; 
    padding: 30px; 
    border-radius: 10px; 
    box-shadow:  5px 5px rgba(0, 0, 0, 0.05);
}

.card img { 
    height: 30px; 
    margin-bottom: 15px; 
    padding: 9px;
    background-color: red;
    border-radius: 100%;
}

.solution-container { 
    display: flex; 
    align-items: center; 
    gap: 50px; 
    max-width: 1200px; 
    margin: 0 auto; 
}

.solution-container ul{
    
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.access-section { 
    text-align: center; 
    padding: 5rem 5%; 
    background: #e6eeea;
    margin: 5% 8%;
    border-radius: 8px;
}

.footer-logo { 
    height: 30px; 
    margin-bottom: 10px; 
}

.footer-img img{
    height: 20px; 
}